*.out
*.byte
*.class
*.iml
*.project
*.classpath
.DS_Store
.settings
.idea/workspace.xml
.idea/modules.xml
.gradle/
*.out.xml
virtual-common/bin/
virtual-common/build/
compiler/build/
compiler/bin/
compiler-tools/bin/
compiler-tools/template/build/
compiler-tools/template/*.txt
compiler-tools/compiler-tools/
local.properties

#jcenterDeploy.gradle
#jcenterInstall.gradle
#compilerJcenterDeploy.gradle
#compilerJcenterInstall.gradle

deploy_compiler.gradle
