*.out
*.byte
*.class
*.iml
*.project
*.classpath
.DS_Store
.settings
.idea/workspace.xml
.idea/modules.xml
.gradle/
*.out.xml
common/bin/
common/build/
compiler/build/
compiler/bin/
compiler-tools/bin/
compiler-tools/template/build/
compiler-tools/template/*.txt
compiler-tools/compiler-tools/